/* CSS RESET (Ends at line 56)*/

/*
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END OF CSS RESET */

/* SELF DEFINED PROPERTIES */
.bg {
    color: #FFF;
    text-align: center;
    font-family: "Arial";
    background-color: #1E1E1E;
    background-image: url("images/shrug.png");
    background-attachment: fixed;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: 20%;
}

body {
    color: #FFF;
    text-align: center;
    font-family: "Arial";
    background-color: #1E1E1E;
}

body p {
    text-align: center;
    color: #AAA;
    font-size: 10vw;
    line-height: 1vw;
    padding: 0% 0% 0% 0%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body p.padding {
    text-align: center;
    color: #AAA;
    padding: 4.5vw 4.5vw 4.5vw 4.5vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.biggertext {
    text-align: center;
    color: #AAA;
    font-size: 2vw;
    line-height: 130%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.biggertext b {
    font-weight: bold;
    color: #CCC;
}

div.biggertext a:hover {
    text-decoration: underline;
    font-weight: 450;
    color: #5BA;
}

body p b, body p.biggertext b {
    color: #999;
    font-weight: bold;
}

p a {
    padding-top: 150%;
    text-decoration: none;
    color: #0AA;
    line-height: 5%;
    font-size: 3vw;
    display: block;
}

h2 a {
    padding-top: 0px;
    text-decoration: none;
    color: #0AA;
    font-weight: 450;
    font-size: 2.5vw;
    line-height: 100%;
    padding: 0% 0% 0% 0%;
}

div.biggertext a {
    padding-top: 0px;
    text-decoration: none;
    color: #0AA;
    font-weight: 450;
    font-size: 2vw;
    line-height: 100%;
    padding: 0% 0% 0% 0%;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    line-height: 2vw;
    color: #EFEFEF;
    padding-top: 2%;
    padding-bottom: 2%;
}

h1.topheader {
    text-align: center;
    font-weight: 900;
    font-size: 4vw;
    line-height: 2vw;
    padding: 1.5vw 1.5vw 1.5vw 1.5vw;
    color: #FAFAFA;
}

h2 {
    text-align: center;
    font-weight: 450;
    font-size: 2.5vw;
    line-height: 2vw;
    color: #DFDFDF;
    padding: 1vw;
}

h3 {
    text-align: center;
    font-size: 2vw;
    line-height: 1vw;
    color: #EFEFEF;
    padding-top: 2%;
    padding-bottom: 2%;
}

h3 a {
    padding-top: 0px;
    text-decoration: none;
    color: #0AA;
    font-size: 2vw;
    line-height: 1vw;
}

h3 a:hover {
    text-decoration: underline;
    color: #4DA;
    font-size: 2vw;
}

body div.navbar {
    background-color: #3F3F3F;
    position: fixed;
    width: 100%;
    height: 6vw;
}

div table {
    width: 100%;
    height: 6vw;
}

div img {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 5vw;
    padding-top: 0px;
    padding-left: 1%;
}

div ul {
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    font-size: 2.5vw;
    line-height: 1vw;
    margin-left: 4%;
    margin-right: 5%;
}

div ul li {
    list-style: none;
    display: inline-block;
    float: left;
}

div ul li a {
    text-decoration: none;
    padding-right: 1vw;
    color: #0FA;
    line-height: 1vw;
    display: block;
}

div ul li a:hover {
    color: #5BA;
}

a img {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0px;
    color: #F0F;
    width: 4vw;
}

td {
    vertical-align: middle;
}

td.img {
    width: 1vw;
    padding-left: 1vw;
    vertical-align: middle;
}

table.contatti, tr.contatti, td.contatti, td.contatti a {
    /*border: 1px solid #FF8000;*/
    line-height: 5%;
    font-size: 2vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    line-height: 2vw;
    text-decoration: none;
    color: #0AA;
    text-align: center;
}

td.contatti a:visited {
    color: #086;
}

td.contatti a:active {
    color: #0CC;
}

td.contatti a:hover {
    color: #4DA;
    text-decoration: underline;
}

.contatti-noborder {
    border: 0;
    line-height: 5%;
    font-size: 2vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 1vw;
    text-align: center;
    line-height: 2vw;
    text-decoration: none;
    color: #0AA;
}

td.contatti a img {
    border: 0px solid #FFF;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0px;
    padding-left: 0px;
    color: #F0F;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.75vw;
    padding-bottom: 1%;
}

footer.small {
    font-family: "Consolas", "Monaco", "Lucida Console";
    width: 5%;
    font-size: 0.5vw;
    padding-bottom: 0%;
}

/* END OF SELF DEFINED PROPERTIES */
